.quy-trinh-content-area {
    background-color: #FFFFFF;
}

.quy-trinh-main {
    padding: 50px 0px;

    .entry-content {
        background-color: transparent;
    }

    .container {
        background-color: transparent;
    }

    .form {
        border-radius: 25px;
        margin-top: -15px;
    }

    .form-left {
        margin-bottom: -45px;
        margin-top: -60px;
        padding: 15px 35px 45px;
        position: relative;
        z-index: 1;

        &:before {
            content: '';
            background: linear-gradient(to right, #cc0202, red);
            border-radius: 20px;
            box-shadow: 0 15px 34px rgba(0, 0, 0, 0.15);

            bottom: 0;
            left: 0;
            right: -100%;
            top: 0;
            position: absolute;
            z-index: -1;
        }

        .form-title {
            font-size: 34px;
        }

        input {
            border-radius: 20px;
            display: block;
            height: 50px;
            line-height: 38px;
            margin-bottom: 15px;
            padding: 6px 15px;
            width: 100%;
        }

        textarea {
            border-radius: 20px;
            display: block;
            height: 80px;
            margin-bottom: 15px;
            padding: 6px 15px;
            width: 100%;
        }

        button,
        button:hover,
        button:active {
            background: transparent;
            border: #ffffff 2px solid;
            border-radius: 25px;
            color: #ffffff;
            font-size: 16px;
            height: 42px;
            line-height: 38px;
            text-transform: uppercase;
            padding: 0px;
        }
    }

    .form-right {
        background: #ffffff;
        border-radius: 20px;
        box-shadow: 0 15px 34px rgba(0, 0, 0, 0.15);
        padding: 50px 40px;
        z-index: 2;

        ul {
            list-style: none;
            padding-left: 0px;
        }

        li {
            font-size: 16px;
            list-style: none;

            & > i {
                display: inline-block;
            }

            p {
                display: inline-block;
            }

            &.info {
                i {
                    color: #0068de;
                }
            }
        }
    }
}
