.tax-trade {
    .trade-content-area {
        .nav-pills {
            display: block;
            margin-bottom: 40px;
            text-align: center;
        }

        .nav-item {
            display: inline-block;
            vertical-align: middle;
        }

        .nav-link {
            border-radius: 21px;
            color: #666666;
            font-size: 16px;
            line-height: 21px;
            margin-bottom: 5px;
            text-transform: uppercase;

            + .nav-link {
                margin-left: 5px;
            }

            border: 1px solid #ccc;
            padding: 5px 10px;
            @include media(tablet) {
                border: 0;
                padding: 8px 25px;
            }

            &.active,
            &:hover {
                background: linear-gradient(to right, #cc0202, red);
                color: #fff;
            }
        }
    }
}
