/* Site footer */

.site-footer {
    background: linear-gradient(to right, #000, #2b2b2b);

    .footer-widget-title {
        font-size: 1rem;
        font-weight: 600;
        padding-top: 55px;
        padding-bottom: 45px;
        text-transform: uppercase;

        .widget {
            margin-bottom: 0px;
        }

        p {
            margin-bottom: 0px;
        }
    }

    .footer-widget-address {
        font-size: 16px;
        line-height: 24px;

        p {
            margin-bottom: 5px;
        }
    }

    .footer-navigation {
        .footer-navigation-title {
            font-weight: 700;
            font-size: 16px;
        }

        ul {
            &[ class$= "-menu" ] {
                margin-bottom: 0px;
                padding-left: 0px;
            }
        }

        li {
            + li {
                margin-top: 10px;
            }
        }
    }

    .imprint {
        border-top: 1px solid rgba(255, 255, 255, 0.15);
        font-size: 14px;
        padding: 20px 0;
        text-align: center;
    }
}
