/** === Main menu === */

body > .site {
    padding-top: 100px;
}

.main-navigation {
    background: linear-gradient(to right, #000, #2b2b2b);

    .navbar-brand {
        transition: all 150ms ease-in-out;

        img {
            height: 60px;
            transition: all 110ms ease-in-out;
        }
    }

    .main-menu {
        text-transform: uppercase;
    }

    .menu-item {
        height: 42px;
        line-height: 42px;
        padding: 0 10px;

        a {
            display: block;
        }

        &.current-menu-item a {
            color: $color__link-hover;
        }
    }

    .tel {
        background: linear-gradient(to right, #cc0202, red);
        border-radius: 21px;

        height: 42px;
        line-height: 40px;
        font-size: 24px;
        font-weight: 700;
        padding: 0 21px;


        a:hover,
        a:active {
            color: $color__link;
        }
    }

    &.has-fixed {
        .navbar-brand {
            padding: 0;

            img {
                height: 35px;
            }
        }
    }
}
