.archive .page-header,
.search .page-header,
.error404 .page-header {

    margin: $size__spacing-unit $size__spacing-unit calc(3 * #{$size__spacing-unit});

    @include media(tablet) {
        margin: 0 $size__site-margins $size__site-margins;
    }

    .page-title {

        color: $color__text-light;
        display: inline;
        letter-spacing: normal;

        &:before {
            display: none;
        }
    }

    .search-term,
    .page-description {
        display: inherit;
        clear: both;

        &:after {
            content: ".";
            font-weight: bold;
            color: $color__text-light;
        }
    }
}

.archive .page-header .page-description {
    display: block;
    color: $color__text-main;
    font-size: 1em;
}

/* 404 & Not found */

.error-404.not-found,
.no-results.not-found {

    .page-title,
    .page-content {

        margin: calc(3 * #{$size__spacing-unit}) #{$size__spacing-unit};

        @include media(tablet) {
            margin: calc(3 * #{$size__spacing-unit}) $size__site-margins calc(#{ $size__spacing-unit } / 2);
        }
    }

    .search-submit {
        vertical-align: middle;
        margin: $size__spacing-unit 0;
    }

    .search-field {
        width: 100%;
    }
}

.trade-content-area {
    padding-bottom: 40px;
    padding-top: 40px;

    .trade-content {
        font-size: 34px;
        font-weight: 700;
        text-align: center;
    }

    article {
        background: #ffffff;
        border-radius: 15px;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);

        body:not(.home) & {
            ~ article {
                margin-top: 30px;
            }

        }

        .home & {
            margin-top: 30px;
        }

    }

    .entry-body {
        position: relative;

        .home & {
            padding-bottom: 15px;
            padding-top: 15px;
        }
    }

    .more-link {
        body:not(.home) & {
            position: absolute;
            bottom: 20px;
            right: 25px;
        }

        .home & {
            text-align: center;
        }
    }

    .all-link {
        background: linear-gradient(to right, #cc0202, red);
        border-radius: 20px;
        display: block;
        line-height: 24px;
        margin: auto;
        max-width: 140px;
        padding-bottom: 7px;
        padding-top: 7px;
        text-align: center;
        text-transform: uppercase;

        &:hover {
            color: #ffffff;
        }
    }

    .entry-title {
        font-size: 20px;
    }

    .entry-content {
        color: #666666;

        ul {
            padding-left: 10px;
        }
    }
}
